.item1 {
  padding-bottom: 20%;
  background-color: rgb(0, 0, 0);    
}
.item2 { 
  padding-bottom: 15%;
  background-color: rgba(31, 243, 130, 0.531);   
  padding-top: 1%;
}
.item3 {
  padding-bottom:39%;
  background-color: rgb(0, 0, 0);
}
.dropbtn {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 4;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 10px 11px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f171
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.equipos{
  width: 30px;
}
.grid{
  display:inline-flex;
}
.analisi{
  width: 54%;
  position: absolute;
  margin-left:25%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  background-color: rgb(255, 255, 255);
}
td, th {
  padding-left: 10px;
  text-align: left;
  }
.descensos{
  background-color: rgba(255, 0, 0, 0.752);
  font-size: 13px;
}
.conference{
  background-color: rgba(0, 128, 0, 0.786);
  font-size: 13px;
}
.europa{
  background-color:orange;
  font-size: 13px;
}
.champions{
  background-color: rgba(0, 0, 255, 0.493);
  font-size: 13px;
}
.mitad{
  font-size: 13px;
}
.puntos{
  font-weight:700;
  text-align: center;
}
h1{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  text-align: left;
}
@media only screen and (min-width: 545px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}


.item1 {
  padding-bottom: 5%;
  background-color: rgb(0, 0, 0); 
}
.item2 { 
  background-color: rgba(31, 243, 130, 0.531);   
}
.item3 {
  padding-bottom:10%;
  background-color: rgb(0, 0, 0);  
}
.dropbtn {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 50px;
  border: none;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 4;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 10px 11px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f171
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.equipos{
  width:30px;
}
.grid{
  display:inline-flex;
}
.analisi{ 
  display: block;
  margin-right: auto;
  width: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  background-color: rgb(255, 255, 255);
  margin-left: 2%;
}
td, th, tr {
  border: 1px solid #dddddd;
  text-align: left;
  text-align: center;
}
h1{
  text-align: center;
}

.clasif{
  margin-left: 2%;
}
}